<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wethink.dao.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.wethink.model.User">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <select id="findUserById" resultType="com.example.wethink.model.User">
        select * from tb_user where id = #{id}
    </select>
    <select id="findUserByName" resultType="com.example.wethink.model.User">
        select * from tb_user where username = #{username}
    </select>
    <select id="findUserByEmail" resultType="com.example.wethink.model.User">
        select * from tb_user where email = #{email}
    </select>
    <select id="findUserByNameOrEmail" resultType="com.example.wethink.model.User">
        select * from tb_user where username = #{username} or email = #{email}
    </select>
    <select id="findUserAll" resultMap="BaseResultMap" resultType="com.example.wethink.model.User">
        select * from tb_user
    </select>
    <insert id="saveUser" parameterType="com.example.wethink.model.User">
        insert into tb_user (id, username, password, email) values(#{id}, #{username}, #{password}, #{email})
    </insert>
</mapper>